# docker-compose.yml
version: "3.8"
services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    hostname: namenode
    ports:
      - 9870:9870  # HDFS Web UI
      - 9000:9000  # HDFS RPC
    volumes:
      - ./data/namenode:/hadoop/dfs/name  # Персистентные данные
      - ./data/shared:/shared  # Общая папка для JAR и данных
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    hostname: datanode
    volumes:
      - ./data/datanode:/hadoop/dfs/data  # Данные DataNode
      - ./data/shared:/shared  # Та же общая папка
    env_file:
      - ./hadoop.env
    depends_on:
      - namenode

  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    hostname: resourcemanager
    ports:
      - 8088:8088  # YARN Web UI
    volumes:
      - ./data/shared:/shared  # Общая папка
    env_file:
      - ./hadoop.env
    depends_on:
      - namenode

  nodemanager:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager
    hostname: nodemanager
    volumes:
      - ./data/shared:/shared  # Общая папка
    env_file:
      - ./hadoop.env
    depends_on:
      - resourcemanager
      - namenode